body {
    background-color: black;
    color: white;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.grid-container {
    border: solid 5px white;
    display: grid;
    grid: 4.4em 1fr 4.4em / 20% 1fr 20%;
    grid-template-areas:
        "header header header"
        "navigation main main"
        ". . ."
        "footer footer footer"
    ;
    row-gap: 1.5em;
    column-gap: 1.5em;
    text-align: center;
}

.header-content {
    grid-area: header;
    background-color: black;
    color: goldenrod;
    justify-items: center;
    text-align: center;

    /* grid-column-start: 4;
    grid-column-end: ; */
}

.navigation-content {
    grid-area: navigation;
    list-style-type: none;
    color: white;
}

li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

li a:hover {
    text-transform: capitalize;
    left: 2px;
    cursor: pointer;
    color: gold;
}

.main-content {
    grid-area: main;
    background-color: rgb(24, 23, 23);
    color: white;

}
