:root {
    --goldenrod: goldenrod; 
}

body {
    background-color: black;
    color: white;
}

/* Fixed Border */
#top, #bottom, #left, #right {
    background: #1d1d1d;
    position: fixed;
    z-index: 999;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 20px;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 20px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top {
    top: 0
}

#bottom {
    bottom: 0;
}



.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid: repeat(6, auto) / repeat (6,auto);
    grid-template-areas:
        "header header header"
        "navigation main main"
        ". main main" 
        ". . ."
        "footer footer footer"
    ;
    row-gap: 1.5em;
    column-gap: 1.5em;
    text-align: center;
}

.header-content {

    grid-area: header;
    background-color: black;
    color: var(--goldenrod);
    justify-items: center;
    text-align: center;

    /* grid-column-start: 4;
    grid-column-end: ; */
}

.navigation-content {
    grid-area: navigation;
    list-style-type: none;
    color: white;
}

li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

li a:hover {
    text-transform: capitalize;
    left: 2px;
    cursor: pointer;
    color: gold;
}

.main-content {
    grid-area: main;
    background-color: rgb(24,24,24);
    color: white; 
    padding-right: 200px;
    padding-left: 200px;
    margin-right: 100px;
}

.footer-content {
    background-color: black;
    align-items: center;
}

form {
    padding: 30px 30px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 5px; 
    width: 100%;
    display: inline-block;

}

.form-control label {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    display: inline;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid silver;
    border-radius: 3px;
    display: inline;
    width: 200px;
    font-size: inherit;
}

button {
    cursor: pointer;
    background-color: var(--goldenrod);; 
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    display: block;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}